[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.20.1"
pygalmesh = ">=0.9.4"
matplotlib = ">=3.4.0"
meshio = ">=4.3.11"
pyyaml = ">=5.4.1"

[dev-packages]
pytest = "*"
atomicwrites = "*"
autopep8 = "*"
optimesh = "*"

[requires]
python_version = "3.8"
